.H1{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}

.H2{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.H3{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}

.subline1{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.subline2{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.subline3{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.textPrimary{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

