.toggle-theme{
    background: #7B61FF;
    width: 32px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    .circle{
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        transition: all 0.1s;
    }
}

.active{
    background: #AFB2B6;
    .circle{
        transform: translate(-12px,0);
    }
}